<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <%if (process.env.NODE_ENV === 'development') { %>
  <%- require('ejs-webpack-loader!./partials/subtemplates/head.ejs')() -%>
  <% } else {%>
  <vtex:template id="FRN-Head" />
  <link rel="stylesheet" href="/arquivos/frn.lojapiticas.home.css" />
  <% }  %>
</head>

<body>
  <%if (process.env.NODE_ENV === 'development') { %>
  <%- require('ejs-webpack-loader!./partials/subtemplates/header.ejs')() -%>
  <% } else {%>
  <vtex:template id="FRN-Header" />
  <% }  %>

  <main>
    <div class="homePage">
      <section class="full-banner full-banner-desktop">
        <div class="full-banner__wrapper">
          <ul class="full-banner__slides js-full-banner">
            <%if (process.env.NODE_ENV === 'development') { %>
            <picture>
              <source media="(max-width: 480px)" srcset="/arquivos/banner-mobile.png"><img
                src="/arquivos/home-banner-02.jpg" alt="" srcset="" />
            </picture>
            <picture>
              <source media="(max-width: 480px)" srcset="/arquivos/banner-mobile.png"><img
                src="/arquivos/home-banner-02.jpg" alt="" srcset="" />
            </picture>
            <% } else {%>
            <vtex:contentPlaceHolder id="HTML FullBanner" />
            <% }  %>
          </ul>
        </div>
      </section>
    </div>

    <!--<%if (process.env.NODE_ENV === 'development') { %>
      <%- require('ejs-webpack-loader!./partials/subtemplates/storeBenefits.ejs')() %>
    <% } else {%>
      <vtex:template id="frn-storeBenefits" />
    <% }  %>-->

    <%if (process.env.NODE_ENV === 'development') { %>
    <%- require('ejs-webpack-loader!./partials/subtemplates/brands.ejs')() %>
    <% } else {%>
    <vtex:template id="FRN-Brands" />
    <% }  %>

    <!--<section class="category">
      <div class="category__wrapper">
        <h2 class="category__title">Licenças</h2>
        <div class="category__first-column">
          <div class="category__first-column-box--bigger">
            <img src="/arquivos/masculino.jpg" alt="" srcset="" />
            <div class="layer-img">
              <h2>Masculino</h2>
            </div>
          </div>
          <div class="category__first-column-box--bigger">
            <img src="/arquivos/feminio.jpg" alt="" srcset="" />
            <div class="layer-img">
              <h2>Feminino</h2>
            </div>
          </div>
        </div>
        <div class="category__second-column">
          <div class="category__first-column-box">
            <div class="category__first-column-box--small">
              <%if (process.env.NODE_ENV === 'development') { %>
              <picture>
                <source media="(max-width: 480px)" srcset="/arquivos/home-mosaico-surf-mobile.jpg" />
                <img src="/arquivos/home-mosaico-surf.jpg" alt="" srcset="" />
              </picture>
              <% } else {%>
              <vtex:contentPlaceHolder id="Mosaico-Surf" />
              <% }  %>
              <div class="layer-img">
                <%if (process.env.NODE_ENV === 'development') { %>
                <p>urf</p>
                <% } else {%>
                <vtex:contentPlaceHolder id="Mosaico-Surf-Title" />
                <% }  %>
              </div>
            </div>
            <div class="category__first-column-box--small">
              <img src="/arquivos/biquini.jpg" alt="" srcset="" />
              <div class="layer-img">
                <h2>Biquini</h2>
              </div>
            </div>
          </div>
          <div class="category__first-column-box">
            <div class="category__first-column-box--small">
              <img src="/arquivos/skate.jpg" alt="" srcset="" />
              <div class="layer-img">
                <h2>Skate</h2>
              </div>
            </div>
            <div class="category__first-column-box--small">
              <img src="/arquivos/gopro.jpg" alt="" srcset="" />
              <div class="layer-img">
                <h2>Gopro</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="category__first-column">
          <div class="category__first-column-box--bigger">
            <img src="/arquivos/masculino.jpg" alt="" srcset="" />
            <div class="layer-img">
              <h2>Masculino</h2>
            </div>
          </div>
          <div class="category__first-column-box--bigger">
            <img src="/arquivos/feminio.jpg" alt="" srcset="" />
            <div class="layer-img">
              <h2>Feminino</h2>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="home__collections">
      <%if (process.env.NODE_ENV === 'development') { %>
      <p>vitrine</p>
      <% } else {%>
      <vtex:contentPlaceHolder id="Product Showcase" />
      <% }  %>
    </section>

    <!--<section class="mosaico">
      <div class="mosaico__wrapper">
        <div class="mosaico__verao">
          <div class="mosaico__verao-img"><a href="#"><img src="/arquivos/franqueado.png" alt="" srcset="" /></a></div>
          <div class="mosaico__verao-content"><a href="#">
              <h2>Verao 2020</h2>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed accusantium veniam delectus minima optio
                iure animi at sunt facilis omnis repellendus facere vitae eaque, distinctio, voluptatem id deserunt
                reprehenderit eius!</p><a class="mosaico__link-btn" href="#"> saiba mais</a>
            </a></div>
        </div>
        <div class="mosaico__outlet">
          <div class="mosaico__outlet-img"><a href="#"><img
                src="/arquivos/stock-photo-skateboarder-with-friends-in-skatepark-jumping-in-the-halfpipe-129496265.png"
                alt="" srcset="" /></a></div>
          <div class="mosaico__outlet-content"><a href="#">
              <h2>Verao 2020</h2>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed accusantium veniam delectus minima optio
                iure animi at sunt facilis omnis repellendus facere vitae eaque, distinctio, voluptatem id deserunt
                reprehenderit eius!</p><a class="mosaico__link-btn" href="#"> saiba mais</a>
            </a></div>
        </div>
      </div>
    </section>-->

    <section class="pitfa">
      <h2 class="pitfa__title">Para o seu lado Pitfã</h2>
      <div class="pitfa__wrapper">
        <div class="box-banner">
          <a href="#"><img src="/arquivos/pitfa-1.jpeg" /></a>
        </div>
        <div class="box-banner">
          <a href="#"><img src="/arquivos/pitfa-2.jpeg" /></a>
        </div>
        <div class="box-banner">
          <a href="#"><img src="/arquivos/pitfa-3.jpeg" /></a>
        </div>
        <div class="box-banner">
          <a href="#"><img src="/arquivos/pitfa-4.jpeg" /></a>
        </div>
        <div class="box-banner">
          <a href="#"><img src="/arquivos/pitfa-5.jpeg" /></a>
        </div>
      </div>
    </section>

    <section class="franqueado">
      <div class="franqueado__wrapper">
        <div class="franqueado__items">
          <div class="franqueado__item--first">
            <img src="/arquivos/franqueado-01.png" class="franqueado__img" alt="" srcset="" />
          </div>
          <div class="franqueado__item--last">
            <div class="franqueado__item--last-content">
              <p>venha empreender com a gente,</p>
              <span>seja um franqueado</span>
            </div>
            <a class="franqueado__item--last-button" href="https://franquia.piticas.com.br/" target="_blank">Clique aqui</a>
          </div>
        </div>
      </div>
    </section>

    <section class="moreprod">
      <h2 class="moreprod__title">Encontre mais produtos incríveis</h2>
      <div class="moreprod__wrapper">
        <div class="moreprod__item">
          <a href="moreprod__link"><img src="/arquivos/moreprod.png" class="moreprod__img" alt="" srcset="" /></a>
        </div>
        <div class="moreprod__item">
          <a href="moreprod__link"><img src="/arquivos/moreprod.png" class="moreprod__img" alt="" srcset="" /></a>
        </div>
        <div class="moreprod__item">
          <a href="moreprod__link"><img src="/arquivos/moreprod.png" class="moreprod__img" alt="" srcset="" /></a>
        </div>
        <div class="moreprod__item">
          <a href="moreprod__link"><img src="/arquivos/moreprod.png" class="moreprod__img" alt="" srcset="" /></a>
        </div>
        <div class="moreprod__item">
          <a href="moreprod__link"><img src="/arquivos/moreprod.png" class="moreprod__img" alt="" srcset="" /></a>
        </div>
      </div>
    </section>

    <section class="shelftab">
      <div class="tabs">
        <div class="tab-header">
          <div class="active">Lançamentos</div>
          <div>Mais Vendidos</div>
          <div>Especial Editions</div>
        </div>
        <div class="tab-indicator"></div>
        <div class="tab-body">
          <div class="active">
            <h3>Lançamentos</h3>
            <div class="home__collections">
              <vtex:contentPlaceHolder id="Product Showcase" />
            </div>
          </div>
          <div>
            <h3>Mais Vendidos</h3>
            <div class="home__collections">
              <vtex:contentPlaceHolder id="Product Showcase" />
            </div>
          </div>
          <div>
            <h3>Especial Editions</h3>
            <div class="home__collections">
              <vtex:contentPlaceHolder id="Product Showcase" />
            </div>            
          </div>
        </div>
      </div>
      
    </section>    

    <section class="pitnews">
      <div class="pitnews__title">
        <div class="pitnews__title--item"><img src="/arquivos/pit-news-home.png" class="pitnews__title--img" alt="Pit News"
            srcset="" /><span> Lorem ipsum dolor sit amet adipiscing elit</span></div><a href="https://www.pitinews.com.br/" target="_blank" class="pitnews__title--link">Ver
          todas <img src="/arquivos/two-arrow-right.png" class="pitnews__title--img" alt="Pit News"
          srcset="" /></a>
      </div>
      <div class="pitnews__wrapper">        
        <!-- <div class="pitnews__item">
          <a href="pitnews__link">
            <img src="/arquivos/moreprod.png" class="pitnews__img" alt="" srcset="" />
            <div class="pitnews__item--title">Filme</div>
            <div class="pitnews__item--content">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </div>
          </a>
        </div>
        <div class="pitnews__item">
          <a href="pitnews__link">
            <img src="/arquivos/moreprod.png" class="pitnews__img" alt="" srcset="" />
            <div class="pitnews__item--title">Filme</div>
            <div class="pitnews__item--content">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </div>
          </a>
        </div>
        <div class="pitnews__item">
          <a href="pitnews__link">
            <img src="/arquivos/moreprod.png" class="pitnews__img" alt="" srcset="" />
            <div class="pitnews__item--title">Filme</div>
            <div class="pitnews__item--content">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </div>
          </a>
        </div>
        <div class="pitnews__item">
          <a href="pitnews__link">
            <img src="/arquivos/moreprod.png" class="pitnews__img" alt="" srcset="" />
            <div class="pitnews__item--title">Filme</div>
            <div class="pitnews__item--content">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </div>
          </a>
        </div> -->
      </div>
    </section>

    <section class="pitmap">
      <div class="pitmap__items">
        <div class="pitmap__item--first">
          <div class="pitmap__item--first-title">
            <p>Consulte</p>
            <p>Nossas lojas</p>
          </div>
          <button class="pitmap__item--first-button">encontre a mais próxima</button>
        </div>
        <div class="pitmap__item--last">
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7319634.815587146!2d-52.905480919394854!3d-26.389881194464508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sloja%20piticas!5e0!3m2!1spt-BR!2sbr!4v1621282517729!5m2!1spt-BR!2sbr" width="860" height="334" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>          
        </div>
      </div>
    </section>

    <section class="pitinsta">
      <div class="pitinsta__title">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 26 26">
          <defs>
            <style>
              .cls-1 {
                fill: #333
              }
            </style>
          </defs>
          <g id="Camada_2">
            <g id="Capa_1">
              <path
                d="M13 2.34c3.47 0 3.88 0 5.26.08a7.21 7.21 0 0 1 2.41.45 3.93 3.93 0 0 1 1.5 1 4.13 4.13 0 0 1 1 1.49 7.22 7.22 0 0 1 .45 2.42c.06 1.37.07 1.78.07 5.25s0 3.89-.07 5.26a7.21 7.21 0 0 1-.45 2.41 4.26 4.26 0 0 1-2.47 2.47 7.21 7.21 0 0 1-2.41.45c-1.38.06-1.79.07-5.26.07s-3.88 0-5.25-.07a7.22 7.22 0 0 1-2.42-.45 4.13 4.13 0 0 1-1.49-1 3.93 3.93 0 0 1-1-1.5 7.21 7.21 0 0 1-.45-2.41c-.06-1.37-.08-1.79-.08-5.26s0-3.88.08-5.25a7.22 7.22 0 0 1 .45-2.42 3.89 3.89 0 0 1 1-1.49 3.89 3.89 0 0 1 1.49-1 7.22 7.22 0 0 1 2.42-.45c1.37-.06 1.78-.08 5.25-.08M13 0C9.47 0 9 0 7.64.08a9.45 9.45 0 0 0-3.15.6 6.34 6.34 0 0 0-2.31 1.5 6.42 6.42 0 0 0-1.5 2.31 9.45 9.45 0 0 0-.6 3.15C0 9 0 9.47 0 13s0 4 .08 5.36a9.52 9.52 0 0 0 .6 3.16 6.39 6.39 0 0 0 1.5 2.3 6.21 6.21 0 0 0 2.31 1.5 9.68 9.68 0 0 0 3.15.61C9 26 9.47 26 13 26s4 0 5.36-.07a9.75 9.75 0 0 0 3.16-.61 6.26 6.26 0 0 0 2.3-1.5 6.39 6.39 0 0 0 1.5-2.3 9.75 9.75 0 0 0 .61-3.16C26 17 26 16.53 26 13s0-4-.07-5.36a9.68 9.68 0 0 0-.61-3.15 6.42 6.42 0 0 0-1.5-2.31 6.39 6.39 0 0 0-2.3-1.5 9.52 9.52 0 0 0-3.16-.6C17 0 16.53 0 13 0"
                class="cls-1" />
              <path
                d="M13 6.33A6.68 6.68 0 1019.68 13 6.66 6.66 0 0013 6.33m0 11A4.34 4.34 0 1117.34 13 4.33 4.33 0 0113 17.34M21.5 6.06a1.56 1.56 0 11-1.56-1.56 1.56 1.56 0 011.56 1.56"
                class="cls-1" />
            </g>
          </g>
        </svg>
        Siga nosso Instagram
      </div>
      <div class="pitinsta__wrapper">
        <div>
          <a href="#">
            <img src="/arquivos/insta-1.png" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="/arquivos/insta-2.png" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="/arquivos/insta-3.png" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="/arquivos/insta-4.png" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="/arquivos/insta-5.png" />
          </a>
        </div>
      </div>
    </section>
  </main>

  <%if (process.env.NODE_ENV === 'development') { %>
  <%- require('ejs-webpack-loader!./partials/subtemplates/footer.ejs')() -%>
  <%- require('ejs-webpack-loader!./partials/subtemplates/scripts.ejs')() -%>
  <% } else {%>
  <vtex:template id="FRN-Footer" />
  <vtex:template id="FRN-Scripts" />
  <script src="/arquivos/frn.lojapiticas.home.js"></script>
  <% }  %>
</body>

</html>